.mock-facility-card{
    height: 250px;
    width: 250px;
    justify-content: center;
    padding: 40px;
    margin: 6px;
    border: 0;

    
}

.mock-facility-card img {
    height: 100%;
    width: 100px;
    margin:10px auto;
}
.mock{

        background: url(https://static.pbcdn.in/cdn/images/home-v1/left-bg.png) left top no-repeat,url(https://static.pbcdn.in/cdn/images/home-v1/right-bg.png) right top no-repeat;
        min-height: 510px;
        z-index: 10;
    
}